name: "Test the build"

on:
  push:
  pull_request:

jobs:
  test:
    name: test if ssm-parent can be built
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.24.x
      - name: cache modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: download dependencies
        run: go mod download

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3

      - name: build the app
        run: go build
      - name: test the app
        run: go test -v ./...
